.customRounded {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    border: 3px solid #aeaeae;
    background-color: white;
    border-radius: 50px;
    position: absolute;
    top: -15px;
}

/* Creo una clase aparte para llamar la animación cuando el paso este activo.*/
.blurBorderPrimary {
    animation: blur-circle 500ms ease forwards;
}

/* Efecto de transición de borde color plomo, a primary de bootstrap */
@keyframes blur-circle {
    0% {
        border: 3px solid #aeaeae;
    }

    100% {
        border: 3px solid #007bff;
    }
}